{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_bambuco1/frontpage_news

    Blocks drawer template

}}
{{#hasnews}}
    <div id="frontpage-news" class="frontpage-news">
        <div class="container">
            <h2>{{#str}}newstitle, theme_bambuco1{{/str}}</h2>
            <h3>{{#str}}newssubtitle, theme_bambuco1{{/str}}</h3>
            <div class="news-list">
            {{#news}}
                <div class="one-news">
                    <div>
                        <img src="{{{ image }}}" />
                        <a href="{{{ url }}}" title="{{#str}}readmore, theme_bambuco1{{/str}}" target="_blank"><i class="fa fa-angle-right"></i></a>
                    </div>
                    <p>
                        {{{ text }}}
                    </p>
                </div>
            {{/news}}
            </div>
        </div>
    </div>
{{/hasnews}}