{{{ output.doctype }}}
<html {{{ output.htmlattributes }}}>
<head>
    <title>{{{ output.page_title }}}</title>
    <link rel="shortcut icon" href="{{{ output.favicon }}}" />
    {{{ output.standard_head_html }}}

    {{>theme_bambuco1/generalheaders}}
</head>

<body {{{ bodyattributes }}}>

{{>theme_bambuco1/header}}

<div id="page-wrapper">

    {{{ output.standard_top_of_body_html }}}